In [15]:
import pandas as pd

def existing(file_name): # функция проверки существования таблицы
    if file_name in DBs.keys():
        return True
    return False

DBs = dict() # словарь таблиц
filename = input() # имя входного файла

# Далее идёт проверка формата файла
if filename.split('.')[-1] == 'csv':
    if existing(filename[:-4]) == False:
        DBs[filename[:-4]] = pd.read_csv(filename) # создание новой таблицы в словре
    else:
        DBs[filename[:-4]].join(pd.read_csv(filename), how='outer') # объединение через outer_join

elif filename.split('.')[-1] == 'xlsx':
    if existing(filename[:-5]) == False:
        DBs[filename[:-5]] = pd.read_excel(filename)
    else:
        DBs[filename[:-5]].join(pd.read_excel(filename), how='outer')

Мировой ВВП.xlsx

In [18]:
DBs['Мировой ВВП'].head()

,Unnamed: 0,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,Afghanistan,..,..,..,..,..,..,..,..,...,14.362441459681548,0.4263547928565714,12.752287082578889,5.600744661318686,2.724543364950918,1.451314654579832,2.260314204546134,2.6470032023029546,1.1892281289752873,3.9116034186069726
1,1,Albania,..,..,..,..,..,..,..,..,...,3.7068923010068318,2.5453218447701715,1.4175259921628651,1.0019871501496738,1.7744867849549308,2.218752231667608,3.3148047534189686,3.8021974879680442,4.071301294790231,2.240070267730232
2,2,Algeria,..,-13.605441325930073,-19.685041825216047,34.31372878274655,5.839413006680189,6.206898209971072,-4.804970943308859,9.452962562843709,...,3.599999999999781,2.9000000000002615,3.399999999999821,2.799999999999997,3.799999999999983,3.700000000000216,3.199999999999733,1.2999999999999403,1.2000000000002018,0.799999999999784
3,3,American Samoa,..,..,..,..,..,..,..,..,...,0.4424778761061816,0.2936857562408193,-4.392386530014633,-2.7565084226646235,0.9448818897637778,1.4040561622464764,-2.7692307692307736,-5.85443037974683,2.184873949579824,..
4,4,Andorra,..,..,..,..,..,..,..,..,...,-1.974957999653455,-0.008069753411390934,-4.974443718535028,-3.5475965154934386,2.5044655211451783,1.4341403952271605,3.7096780697898595,0.346071889630295,1.588765490463544,1.8492382572607795